.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.mainBox{
  display: flex;
}

/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:#8585AD;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #2F2F37;
}
*::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 5px;
  border: 3px solid #8585AD
}
